--black: #000;
--white: #fff;
--purple: #6a57dc;
--violet: #a883f8;
--grey: #3d3d3d;
--light-grey: #f9f9fa;
--dark-grey: #ededf0;
--grey-5: #f9f9fa;
--grey-20: rgba(12, 12, 13, 0.2);
--background-color: var(--light-grey);
